/* CSS Reset ------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7f9f9;
    font-family: Arial;
}

header{
    background-color: white;
    height: 100px;
    width: 100%;
}

header img{
    display: inline-block;
    height: 70px;
    margin-top: 15px;
    margin-left: 25px;
}

h1{
    display: inline-block;
    font-size: 60px;
    line-height: 100px;
    vertical-align: middle;
    margin-bottom: 60px;
}

main{
    max-width: 1000px;
    margin: auto;
}

main div{
    background-color: white;
}

#top-box{
    margin-top: 70px;
    border-radius: 10px 10px 0px 0px;
    padding-left: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#bot-box{
    margin-top: 3px;
    border-radius: 0px 0px 10px 10px;
    padding-left: 10%;
    padding-bottom: 20px;
    padding-top: 40px;
}

h2{
    padding-bottom: 15px;
}

p{
    margin-bottom: 30px;
}

#b1{
    color: white;
    background-color: #47adf1;
    padding: .5em 1em .5em 1em;
    border-radius: 7px;
    border: 2px solid #47adf1;
}

#b2{
    color: gray;
    border: 2px solid gray;
    background-color: white;
    padding: .5em 1em .5em 1em;
    border-radius: 7px;
}

.check{
    display: inline-block;
    color: #64c1a8;
    border: 2px solid #64c1a8;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}

.cross{
    display: inline-block;
    color: rgb(252, 79, 26);
    border: 2px solid rgb(252, 79, 26);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}

.task-type{
    padding: .5em 1em .5em 1em;
    border-radius: 15px;
    margin-left: 10px;
    color: white;
}

.c1{
    background-color: #44aaea;
}

.c2{
    background-color: #9c73e5;
}

.c3{
    background-color: #64c1a8;
}

.c4{
    background-color: #f39e32;
}

.c5{
    background-color: #d962a1;
}

.c6{
    background-color: #b0c827;
}